.formContainer {
  max-width: 500px;
  margin: 10vh auto;
  /* justify-content: center; */
  align-items: center;
  color: white;
}

.employeeForm {
  background-color: rgb(32, 28, 28);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.formGroup {
  margin-bottom:0.5rem;
}

.formLabel {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  
}
.error {
  color: red;
  font-size:medium;
  margin-bottom: 0.1rem;
}
.formInput,
.formSelect {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.7rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.6rem;
  box-sizing: border-box;
}

.radioGroup label {
  margin-right: 0.5rem;
  
}
.flexGroup {
  display: flex;
  align-items: center;
}

.checkboxGroup {
  display: flex;
  align-items: center;
}

.checkboxGroup label {
  margin-right: 1rem; /* Adjust spacing between checkboxes */
}

.radioGroup {
  margin-right: 1rem; /* Adjust spacing between the label and radio buttons */
}

.button {
  background-color: transparent;
  border: 0.1rem solid #dfd1d1;
  color: #f9f8f8;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #fefefe;
  color: #000000;
}


