/* Employee.module.css */

.employeeTable {
  width: 100%;
  border-collapse: collapse;
}
.button {
  /* background-color: transparent; */
  border: 2px solid black;
  color:rgb(109, 72, 17);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: #703304dc; /* Light gray background on hover */
  color: whitesmoke;
  transition:ease-in-out;
}

.employeeTable th,
.employeeTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.employeeTable th {
  background-color: #f2f2f2;
}

.employeeTable tbody tr:hover {
  background-color: #f2f2f2;
}
